@model KutipWeb.Models.Pickup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pickup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bin.PlateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collector.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeforePhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeforePhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuringPhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuringPhotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterPhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterPhotoUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PickupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
